<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<display-name>Transxchange2GoogleTransit 1.3</display-name>
	<servlet>
		<servlet-name>transxchange2GoogleTransitService</servlet-name>
		<servlet-class>com.GTDF.server.Transxchange2GoogleTransitServiceImpl</servlet-class>
           	<init-param>
                	<param-name>TRANSFORM_HOME</param-name>
                	<param-value>/tmp</param-value>
            	</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>transxchange2GoogleTransitService</servlet-name>
		<url-pattern>/www/com.GTDF.GWT_Transxchange2GoogleTransit/GTDF</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.GTDF.server.FileUploadServlet</servlet-class>
           	<init-param>
                	<param-name>TRANSFORM_HOME</param-name>
                	<param-value>/tmp</param-value>
            	</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/www/com.GTDF.GWT_Transxchange2GoogleTransit/upload</url-pattern>
	</servlet-mapping>

</web-app>
